
snippet start "stdio template" b
#include "stdio.h"

int main(){
	$0
}
endsnippet


snippet "(?<=})else" "else" r
else{
	$0
}
endsnippet

snippet scanf "scanf" b
printf("$1: ");
scanf("%d", &$1);$0
endsnippet
